body{background-color: darkgray;
}
h1{text-align: center;
    color: rgb(218, 231, 26);
    font-size: 45px;
    border-style: solid;
    border-color: rgb(255, 0, 0);
}
h2{text-align: left;
    border-style: solid;
    color: rgb(255, 0, 0);
    font-size: 45px;
}
#img1{width: 37%;
      margin-left: 45%;
      border-style: solid;
      border-color: #ffee00;
      border-width: 25px;
      font-size: 35%;
      text-align: center;
}
#img2{width: 37%;
    margin-left: 30%;
    border-style: solid;
    border-color: rgb(255, 0, 0);
    border-width: 25px;
    font-size: 35%;
    text-align: center;
}