body{background-color: darkgray;
}
h1{text-align: center;
    color: blueviolet;
    font-size: 45px;
    border-style: solid;
    border-color: fuchsia;
}
h2{text-align: left;
    border-style: solid;
    color: blue;
    font-size: 45px;
}
#img1{width: 37%;
      margin-left: 45%;
      border-style: solid;
      border-color: #8a2be2;
      border-width: 25px;
      font-size: 35%;
      text-align: center;
}
#img2{width: 45%;
    margin-left: 45%;
    border-style: solid;
    border-color: blue;
    border-width: 25px;
    font-size: 35%;
    text-align: center;
}